:root {
	--background-color: #02010A;
	--gray-color: rgba(255, 255, 255, 0.25);
	--light-gray-color: rgba(255, 255, 255, 0.5);
	background-color: var(--background-color);
	color: white; 
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: black; 
}
   
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

body {
	margin: 0px;
}

#container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#settings {
	width: 200px;
	height: 100vh;
	flex-shrink: 0;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	align-self: stretch;

	display: flex;
	flex-direction: column;

	border-width: 0px 1px 0px 0px;
	border-color: var(--gray-color);
	border-style: solid;
}

#HideMenuButton {
	position: absolute;
	visibility: visible;
	width: 50px;
	z-index: 1;
}

@media screen and (max-width: 516px) {
	#container {
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
	}

	#settings {
		flex-direction: row;
		width: 100vw;
		height: 200px;
		overflow-y: scroll;
	}

	#HideMenuButton {
		position: relative;
	}
}

.hidden {
	visibility: hidden;
}

#ActionButtonMenu > button {
	width: 90%;
}

.ui {
	margin: 5px;
	background-color: color-mix(in srgb, black 25%, var(--background-color) 75%);
	color: white;
	border: 1px solid var(--gray-color);
	border-radius: 5px;
	text-align: center;

	transition: border-color 0.25s ease-in;
}

.ui:hover {
	border-color: var(--light-gray-color);
}

.math {
	font-size: 36px;
}

#questionHolder {
	z-index: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.question {
	margin: 10px;
	padding: 3px;
	border: 1px solid var(--gray-color);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 5px black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: border-color 0.25s ease-in;
}

#stepsButton {
	position: fixed;
	font-size: 12px;
	width: 25px;
	margin: 1px;
}

.question:hover {
	border-color: var(--light-gray-color);
}

.problem {
	margin: 0;
}

.answerBox {
	color: white;
	background-color: #1b1b1b;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

#stepsMenu {
	z-index: 999;
	position: fixed;
	width: 80%;
	height: 80%;
	overflow-y: hidden;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid var(--gray-color);
	border-radius: 10px;
	backdrop-filter: blur(10px);

	text-align: center;
	font-size: 24px;
}

#steps {
	margin: 20px;
}

#closeButton {
	background-color: rgba(255, 255, 255, 0.05);
	position: absolute;
	right: 0;
}